<div class="container">
    <div class="shadow p-4 m-4">
        <h3>{{title}}</h3>
        <hr class="dropdown-divider">
        <form class="w-50 pt-4" [formGroup]="jobForm" (ngSubmit)="addOrUpdateJob()" novalidate>
           <div class="form-group">
                <label for="exampleInputEmail1">Title</label>
                <input type="text" class="form-control" formControlName="title" placeholder="Job Title here ...">
                <small *ngIf="formMatcher.isErrorState(jobForm.controls.title, jobForm)" id="titleError" class="form-text text-danger">This field is required</small>
           </div>

           <div class="form-group">
                <label for="exampleInputEmail1">Description</label>
                <textarea type="text" class="form-control" formControlName="last_name" placeholder="Example : We are hiring a ux/ui ninja ...">
                <small *ngIf="formMatcher.isErrorState(jobForm.controls.last_name, jobForm)" id="titleError" class="form-text text-danger">This field is required</small>
           </div>

           <button type="submit" class="btn btn-primary">
               <span *ngIf="addMode">Create</span>
               <span *ngIf="!addMode">Save</span>
           </button>
         </form>
     </div>
    
</div>