<div class="d-flex justify-content-center p-4">
    <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">{{job?.title}}</h5>
          <p class="card-text">{{job?.description}}</p>
          <a [routerLink]="['/jobs']"  class="btn btn-warning">Go Home ...</a>
        </div>
      </div>
</div>

<ngx-spinner
    bdOpacity = 0.9
    bdColor = "#333"
    size = "medium"
    color = "#fff"
    type = "ball-newton-cradle"
    [fullScreen] = "true"
    >
    <p style="color: white" > Loading... </p>
  </ngx-spinner>