<div class="container p-4">
  <div class="card">
      <table class="table">
          <thead class="thead-dark">
            <tr>
              <th scope="col">#</th>
              <th scope="col">Title</th>
              <th scope="col">Description</th>
              <th scope="col">Actions</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let job of jobs">
              <th scope="row">{{job.$id}}</th>
              <td>{{job.title}}</td>
              <td>{{job.description}}</td>
              <td>
                  <div class="d-block">
                      <button (click)="remove(job.$id)" class="btn btn-danger btn-md btn-primary ml-1">Delete</button>
                      <button [routerLink]="['update', job.$id]"  class="btn btn-success btn-md btn-primary ml-1">Update</button>
                      <button [routerLink]="['job', job.$id]"  class="btn btn-md btn-primary ml-1">Job Details</button>
                  </div>
              </td>
            </tr>
          </tbody>
        </table>

        <app-data-paginator [data]="jobs"></app-data-paginator>
  </div>
  


</div>